<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
    <link rel="icon" href="/icons/icons8-favicon-30.png ">
    <title>Meine Todos | Eine To Do Liste zum Organisieren von Arbeit und Leben</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <header>
      <%- include('header') %>
    </header>

    <main>
      <div class="container">
        <div class="container__info">
          <h1>Praktisch und unkompliziert</h1>
          <p>Erleichtere dir dein Leben mit besserer Organisation</p>
          <div class="big-button_wrapper" ><a href="">Kostenlos loslegen</a>
          <div class="big-button_shadow"></div></div>
         
        </div>
        <div class="container__image">
          <img src="/to-do-4783676_640.png" alt="" />
        </div>
      </div>

      <div class="customer-logos">
        <p>Über 1 Million Menschen vertrauen auf unsere Todo App. Schließe dich Ihnen an und erleichtere dir das Leben</p>
      </div>

<section class="container__motivation">
      <div class="section__one">
        <div>
          <p>Mach deinen Kopf frei</p>
          <p>Erfasse all deine Aufgaben und werde deine Gewissensbisse los</p>
          <p>Unsere Mission ist es unsere Todo App benutzerfreundlich und angenehm zu gestalten und sind für Feedback dankbar, welches uns hilft unsere App zu verbessern und neue Funktionen einzufügen, somit du deine Aufgaben in windeseile erledigen kannst.</p>
          <p>Lege den Fokus richtig und arbeite effizient</p>
        </div>
      </div>

      <div class="section__two">
        <div>
          <p>Wir entwickeln mit Leidenschaft - für deinen klaren Kopf</p>
          <p>Seit über einem Monat arbeiten wir intensiv daran, unsere To-Do-App noch benutzerfreundlicher, schneller und intuitiver zu machen. Unser Ziel: Dir das Erfassen, Planen und Erledigen deiner Aufgaben so leicht wie möglich zu machen.</p>
          <p>Dein Feedback ist dabei unser Kompass - es hilft uns, die App kontinuierlich zu verbessern und neue, hilfreiche Funktionen einzubauen.</p>
          <p>Fokussiere dich auf das Wesentliche. Arbeite strukturiert. Erreiche mehr.</p>
        </div>

      </div>
</section>
    </main>

    <footer>

    </footer>
  </body>
</html>
