<div class="form-group">
  <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>">
    <label for="email-input" class="form-label">E-mail</label>

    <input
      type="email"
      placeholder="E-mail-Adresse eingeben..."
      id="email-input"
      name="email"
      class="form-input"
      required
    />
  </div>

  <div class="form-group">
    <label for="password-input" class="form-label">Password</label>

    <input
      type="password"
      placeholder="Passwort eingeben..."
      id="password-input"
      name="password"
      class="form-input"
      required
    />
  </div>
